<aside class="share">
    <h4 class="title">
        <span>S</span>
        <span>h</span>
        <span>a</span>
        <span>r</span>
        <span>e</span>
    </h4>
    <ul>
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        <li><button><i class="fas fa-times-circle"></i></button></li>
    </ul>
</aside>