<aside class="share">
    <h4 class="title">
        <span>S</span>
        <span>h</span>
        <span>a</span>
        <span>r</span>
        <span>e</span>
    </h4>
    <ul>
        <li><a href="#" class="fab facebook"></a></li>
        <li><a href="#" class="fab twitter"></a></li>
        <li><a href="#" class="fab google-plus"></a></li>
        <li><a href="#" class="fab linkedin"></a></li>
        <li><a href="#" class="fab instagram"></a></li>
        <li><button class="fas close"></button></li>
    </ul>
</aside>