@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=latin-ext");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
:root {
  --headings-ws: 0.5em;
  --main-ws: 1.5rem;
  --layout-ws: 3rem;
  --base-lh: 1.5;
  --headings-lh: 1.1;
  --body-bg-color: #eee;
  --body-bg-dark-color: #171717;
  --blue: /*#049*/ blue;
  --light-blue: #07f; }

form .input-wrapper input, aside.share a::after, section.gallery ul.gallery .img-container, section.gallery ul.gallery .img-container:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.site-header .main-nav a, .site-header .header-info, .site-footer .follow-us li a, .slideshow-circles ul, section.gallery .gallery-types ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0; }

html {
  font: 12px/var(--base-lh) "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  @media screen and (min-width: 600px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 900px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 1600px) {
    html {
      font-size: 21px; } }

body, input, select, textarea, button {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  line-height: var(--headings-lh);
  padding-bottom: var(--headings-ws); }

h1 {
  font-size: 3.05176em; }

h2 {
  font-size: 2.44141em; }

h3 {
  font-size: 1.95313em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  padding-bottom: var(--main-ws); }

form > label {
  margin-bottom: 0.5em;
  color: #000;
  font-size: 1.2em;
  font-weight: bold; }

form .input-wrapper, form textarea {
  margin-bottom: 1em; }

form .input-wrapper {
  height: 2.75em;
  position: relative;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  form .input-wrapper i {
    z-index: 1;
    position: relative;
    width: 1em;
    color: #fff;
    padding: 0;
    margin: 0 0.75em; }

@-moz-document url-prefix() {
  form .input-wrapper i {
    transform: translateY(-44%); } }
  form textarea,
  form .input-wrapper input {
    color: #fff;
    background: #333;
    border: 3px solid #fff;
    border-radius: 1.2em;
    outline: none; }
    form textarea:focus,
    form .input-wrapper input:focus {
      background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(var(--blue)), to(#333));
      background: linear-gradient(90deg, #333, var(--blue), #333); }
  form .input-wrapper input {
    position: absolute;
    width: 100%;
    padding: 0 0.5em 0 2.3em; }

form textarea {
  resize: none;
  padding: 1em;
  overflow: hidden; }

form input[type=submit] {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  padding: 0.6em;
  color: #fff;
  background: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  form input[type=submit]:hover {
    background: var(--light-blue);
    color: #000; }

form ::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic; }

form :-ms-input-placeholder {
  color: #ccc;
  font-style: italic; }

form ::-ms-input-placeholder {
  color: #ccc;
  font-style: italic; }

form ::placeholder {
  color: #ccc;
  font-style: italic; }

body {
  max-width: 1333px;
  margin: 0 auto;
  background: var(--body-bg-color); }
  body main {
    background: var(--body-bg-color); }
    body main > header h1 {
      max-width: 80%;
      text-align: center;
      margin: 0 auto;
      padding: var(--layout-ws) 0;
      background: var(--body-bg-color); }
  body.dark,
  body.dark main,
  body.dark main > header h1 {
    color: #fff;
    background: var(--body-bg-dark-color); }
  body.dark .site-footer {
    background: #000; }

.site-header {
  padding: 1rem; }
  .site-header.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 222px; }
  .site-header:not([class*=banner]) {
    background: -webkit-gradient(linear, left top, right top, from(var(--blue)), color-stop(var(--light-blue)), color-stop(var(--light-blue)), to(var(--blue))) !important;
    background: linear-gradient(90deg, var(--blue), var(--light-blue), var(--light-blue), var(--blue)) !important; }
    .site-header:not([class*=banner]) .header-info {
      display: none;
      opacity: 0; }
  .site-header .nav-and-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .site-header .nav-and-search .home-fish {
      position: absolute;
      left: 0; }
      @media screen and (max-width: 599px) {
        .site-header .nav-and-search .home-fish {
          display: none;
          opacity: 0; } }
      .site-header .nav-and-search .home-fish i {
        font-size: 3em;
        color: #000; }
        .site-header .nav-and-search .home-fish i:hover {
          -webkit-animation: swim 2.5s linear infinite;
          animation: swim 2.5s linear infinite; }

@-webkit-keyframes swim {
  20% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg); }
  40% {
    -webkit-transform: rotateY(-45deg) scale(1.4);
    transform: rotateY(-45deg) scale(1.4); }
  60% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg); }
  80% {
    -webkit-transform: rotateY(-45deg) scale(0.7);
    transform: rotateY(-45deg) scale(0.7); }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes swim {
  20% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg); }
  40% {
    -webkit-transform: rotateY(-45deg) scale(1.4);
    transform: rotateY(-45deg) scale(1.4); }
  60% {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg); }
  80% {
    -webkit-transform: rotateY(-45deg) scale(0.7);
    transform: rotateY(-45deg) scale(0.7); }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }
  .site-header .main-nav {
    display: none;
    opacity: 0; }
    .site-header .main-nav ul {
      list-style-type: none;
      display: block; }
    .site-header .main-nav li {
      margin: 0 auto 1rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .site-header .main-nav li.current-page a {
        border: 3px solid #000;
        padding: 0.4em;
        pointer-events: none; }
        @media screen and (min-width: 600px) {
          .site-header .main-nav li.current-page a {
            border-radius: 50%; } }
        .site-header .main-nav li.current-page a i {
          font-size: 1.25rem;
          width: 1em;
          height: 1em;
          margin: 0; }
        .site-header .main-nav li.current-page a span {
          display: none; }
    .site-header .main-nav a {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
      color: #fff;
      background: rgba(0, 0, 0, 0.85);
      border-radius: 0.4em;
      padding: 0.2em 0.5em;
      width: 80%;
      -webkit-transition: background-color 0.3s, width 0.5s, -webkit-transform 0.3s;
      transition: background-color 0.3s, width 0.5s, -webkit-transform 0.3s;
      transition: background-color 0.3s, transform 0.3s, width 0.5s;
      transition: background-color 0.3s, transform 0.3s, width 0.5s, -webkit-transform 0.3s; }
    .site-header .main-nav i {
      margin-right: 0;
      margin-bottom: 0.3em; }
  .site-header .search {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    pointer-events: none; }
    .site-header .search input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      color: transparent;
      background: transparent;
      outline: none;
      border: none;
      border-radius: 1.1em;
      padding: 1rem 2rem 1rem 0.7rem;
      -webkit-transition: width 0.3s ease-out;
      transition: width 0.3s ease-out; }
      .site-header .search input:focus {
        width: 100%;
        pointer-events: all;
        background: #fff;
        color: #000; }
      .site-header .search input:focus + i {
        color: #000;
        pointer-events: none; }
      .site-header .search input:not(:focus)::-webkit-input-placeholder {
        color: transparent; }
      .site-header .search input:not(:focus):-ms-input-placeholder {
        color: transparent; }
      .site-header .search input:not(:focus)::-ms-input-placeholder {
        color: transparent; }
      .site-header .search input:not(:focus)::placeholder {
        color: transparent; }
    .site-header .search ::-webkit-input-placeholder {
      color: #222; }
    .site-header .search :-ms-input-placeholder {
      color: #222; }
    .site-header .search ::-ms-input-placeholder {
      color: #222; }
    .site-header .search ::placeholder {
      color: #222; }
    .site-header .search i {
      z-index: 1;
      margin-left: auto;
      font-size: 1.5em;
      color: #fff;
      cursor: pointer;
      pointer-events: all;
      margin-right: 0.2em; }
  .site-header .header-info {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 50%;
    height: auto;
    margin: 2rem auto 1rem;
    border-radius: 2rem;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg); }
    .site-header .header-info h4 {
      padding: 2rem;
      -webkit-transform: rotateZ(-15deg);
      transform: rotateZ(-15deg); }
      .site-header .header-info h4::after {
        content: "";
        display: block;
        position: relative;
        top: 0.7rem;
        width: 35%;
        height: 3px;
        background: var(--blue);
        margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .site-header.banner {
      min-height: 444px; }
      .site-header.banner .nav-and-search::after {
        display: block;
        content: "";
        position: absolute;
        top: 130%;
        left: 0;
        left: -1rem;
        width: calc(100% + 2rem);
        height: 2px;
        background: #fff; }
    .site-header .nav-and-search {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .site-header #lbl-toggle-nav {
      display: none;
      opacity: 0;
      position: absolute; }
    .site-header .main-nav {
      display: block;
      opacity: 1;
      position: relative !important;
      top: inherit !important; }
      .site-header .main-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .site-header .main-nav li {
        margin-bottom: 0; }
        .site-header .main-nav li:not(:last-child) {
          margin-right: 1em; }
      .site-header .main-nav a {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: auto;
        background: rgba(0, 0, 0, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
        .site-header .main-nav a:hover, .site-header .main-nav a:focus {
          color: #000;
          background: rgba(255, 255, 255, 0.5);
          -webkit-transform: scale(0.8);
          transform: scale(0.8); }
      .site-header .main-nav i {
        margin-right: 0.3em;
        margin-bottom: 0; }
    .site-header .search:hover:not(:focus-within) i {
      -webkit-animation: scale 1.5s ease-in-out infinite;
      animation: scale 1.5s ease-in-out infinite; }
    @-webkit-keyframes scale {
      50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5); }
      to {
        -webkit-transform: scale(1);
        transform: scale(1); } }
    @keyframes scale {
      50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5); }
      to {
        -webkit-transform: scale(1);
        transform: scale(1); } }
    .site-header .header-info {
      width: 40vmin;
      height: 40vmin;
      border-radius: 50%;
      margin-top: 5rem; } }

#lbl-toggle-nav {
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  position: relative;
  left: 0.38rem; }
  #lbl-toggle-nav i {
    margin-right: 0.4em;
    -webkit-transition: color 0.15s, -webkit-transform 0.3s;
    transition: color 0.15s, -webkit-transform 0.3s;
    transition: transform 0.3s, color 0.15s;
    transition: transform 0.3s, color 0.15s, -webkit-transform 0.3s; }
    #lbl-toggle-nav i:before {
      content: "\f0c9"; }

#toggle-nav {
  display: none;
  opacity: 0;
  position: absolute; }
  @media screen and (max-width: 599px) {
    #toggle-nav:checked ~ .search {
      display: none;
      opacity: 0; } }
  #toggle-nav:checked ~ #lbl-toggle-nav {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  #toggle-nav:checked ~ #lbl-toggle-nav:hover i {
    -webkit-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    color: red; }
  #toggle-nav:checked ~ #lbl-toggle-nav i::before {
    content: "\f00d"; }
  #toggle-nav:checked ~ .main-nav {
    display: block;
    opacity: 1;
    z-index: 100;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0; }
    #toggle-nav:checked ~ .main-nav a {
      -webkit-animation: linksAppear 1.2s ease-out backwards;
      animation: linksAppear 1.2s ease-out backwards; }

@-webkit-keyframes linksAppear {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 2px; }
  12% {
    opacity: 1;
    width: 20%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    width: 20%; }
  to {
    width: 80%; } }

@keyframes linksAppear {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 2px; }
  12% {
    opacity: 1;
    width: 20%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    width: 20%; }
  to {
    width: 80%; } }
    #toggle-nav:checked ~ .main-nav li:nth-of-type(2) a {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    #toggle-nav:checked ~ .main-nav li:nth-of-type(3) a {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    #toggle-nav:checked ~ .main-nav li:nth-of-type(4) a {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }

.site-footer {
  z-index: -100;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 1330px;
  -webkit-transform: translateX(1px);
  transform: translateX(1px);
  margin: 0 auto;
  padding-top: 1.5rem;
  background: #222;
  color: #fff;
  display: block; }
  .site-footer > span {
    width: 1px;
    background: #fff; }
  .site-footer > section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #fff; }
  .site-footer .title {
    text-transform: uppercase;
    text-align: center; }
    .site-footer .title::after {
      display: block;
      content: "";
      height: 2px;
      background: var(--blue);
      margin: 0.25em 0; }
  .site-footer .site-map ul {
    list-style-type: none;
    text-align: center; }
  .site-footer .site-map li:not(:last-child) {
    margin-bottom: 0.5em; }
  .site-footer .site-map a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative; }
    .site-footer .site-map a::after {
      display: block;
      content: "";
      opacity: 1;
      position: absolute;
      left: 50%;
      right: 100%;
      width: 0;
      height: 2px;
      background: #fff;
      -webkit-transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
      transition: left 0.3s ease-in-out, width 0.3s ease-in-out; }
    .site-footer .site-map a:hover {
      color: var(--light-blue); }
      .site-footer .site-map a:hover::after {
        left: -10%;
        width: 120%; }
    .site-footer .site-map a i {
      display: none;
      opacity: 0;
      position: absolute; }
  .site-footer .follow-us {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .site-footer .follow-us li:not(:last-child) {
      margin-right: 1rem; }
    .site-footer .follow-us li:nth-child(1) a {
      background: #3b5998; }
    .site-footer .follow-us li:nth-child(2) a {
      background: #00aced; }
    .site-footer .follow-us li:nth-child(3) a {
      background: #517fa4; }
    .site-footer .follow-us li a {
      text-decoration: none;
      position: relative;
      font-size: 1.5em;
      color: #fff;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 2px solid #fff;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .site-footer .follow-us li a.facebook::before {
        content: ""; }
      .site-footer .follow-us li a.twitter::before {
        content: ""; }
      .site-footer .follow-us li a.instagram::before {
        content: ""; }
      .site-footer .follow-us li a:hover {
        background: -webkit-gradient(linear, left top, right top, from(orange), color-stop(red), to(orange));
        background: linear-gradient(90deg, orange, red, orange); }
        .site-footer .follow-us li a:hover::before {
          -webkit-animation: rotateY 2s linear infinite;
          animation: rotateY 2s linear infinite; }

@-webkit-keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
  .site-footer .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .site-footer .sign-up .input-wrapper {
      width: 15rem;
      height: 2.5em;
      margin: 0 0.5rem 1rem; }
      .site-footer .sign-up .input-wrapper:focus-within i {
        -webkit-animation: rotate 1.5s linear infinite;
        animation: rotate 1.5s linear infinite; }

@-moz-document url-prefix() {
  .site-footer .sign-up .input-wrapper:focus-within i {
    animation: none; } }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
      .site-footer .sign-up .input-wrapper input:focus {
        -webkit-animation: border-color 2s linear infinite;
        animation: border-color 2s linear infinite; }

@-webkit-keyframes border-color {
  from {
    border-color: #fff; }
  50% {
    border-color: #049; }
  to {
    border-color: #fff; } }

@keyframes border-color {
  from {
    border-color: #fff; }
  50% {
    border-color: #049; }
  to {
    border-color: #fff; } }

@-moz-document url-prefix() {
  .site-footer .sign-up .input-wrapper i {
    transform: translateY(-30%); } }
    .site-footer .sign-up input[type=submit] {
      padding: 0.5em 2.5em; }
  .site-footer > p {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #ccc;
    margin-top: -0.5rem;
    padding-bottom: 1rem; }
  @media screen and (max-width: 699px) and (orientation: landscape) {
    .site-footer {
      position: static;
      margin-top: -85%; } }
  @media screen and (min-width: 700px) {
    .site-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .site-footer > section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        padding-bottom: 0;
        margin-bottom: 0;
        border: none; }
      .site-footer > p {
        padding-top: 1rem;
        margin-top: 1.5rem;
        border-top: 1px solid #fff; } }

aside.share {
  display: block;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  padding: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  aside.share .title {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.2em;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer; }
  aside.share ul {
    list-style-type: none;
    display: contents; }
  aside.share li:nth-of-type(1) {
    grid-area: li1; }
  aside.share li:nth-of-type(2) {
    grid-area: li2; }
  aside.share li:nth-of-type(3) {
    grid-area: li3; }
  aside.share li:nth-of-type(4) {
    grid-area: li4; }
  aside.share li:nth-of-type(5) {
    grid-area: li5; }
  aside.share li {
    opacity: 0;
    pointer-events: none; }
  aside.share .close {
    display: none;
    opacity: 0;
    position: absolute;
    grid-area: btn;
    justify-self: center;
    width: 3em;
    height: 3em;
    font-size: 1.1em;
    border-radius: 50%;
    outline: none;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-height: 303px) {
      aside.share .close {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem); } }
    aside.share .close::before {
      content: "\f057";
      font-size: 1.5em; }
  aside.share a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0.75rem;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%; }
    aside.share a::after {
      position: absolute;
      border-radius: 50%;
      content: "";
      display: block;
      -webkit-box-shadow: 0 0.4em 0.75em 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.4em 0.75em 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    aside.share a::before {
      -webkit-transition: color 0.3s, -webkit-transform 0.3s;
      transition: color 0.3s, -webkit-transform 0.3s;
      transition: color 0.3s, transform 0.3s;
      transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s; }
    aside.share a.facebook::before {
      content: ""; }
    aside.share a.twitter::before {
      content: ""; }
    aside.share a.google-plus::before {
      content: ""; }
    aside.share a.linkedin::before {
      content: ""; }
    aside.share a.instagram::before {
      content: ""; }
    aside.share a:hover {
      border-color: #555; }
      aside.share a:hover::after {
        opacity: 1; }
      aside.share a:hover::before {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
      aside.share a:hover.facebook {
        color: #3b5998; }
      aside.share a:hover.twitter {
        color: #00aced; }
      aside.share a:hover.google-plus {
        color: #dd4b39; }
      aside.share a:hover.linkedin {
        color: #007bb6; }
      aside.share a:hover.instagram {
        color: #517fa4; }
  @media screen and (min-width: 600px) {
    aside.share .title {
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
      pointer-events: none; }
    aside.share:hover .title {
      opacity: 0;
      -webkit-transform: translateY(200%);
      transform: translateY(200%); }
    aside.share:hover li {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
      pointer-events: all; }
    aside.share ul {
      list-style-type: none;
      display: block; }
    aside.share li {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
      -webkit-transition: opacity 0.5s, -webkit-transform 0.2s;
      transition: opacity 0.5s, -webkit-transform 0.2s;
      transition: transform 0.2s, opacity 0.5s;
      transition: transform 0.2s, opacity 0.5s, -webkit-transform 0.2s; }
      aside.share li:not(:last-child) {
        margin-bottom: 0.5em; }
      aside.share li:nth-child(1) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s; }
      aside.share li:nth-child(2) {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      aside.share li:nth-child(3) {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      aside.share li:nth-child(4) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      aside.share li:nth-child(5) {
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s; } }

@media screen and (max-width: 599px) {
  .share-center {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    -webkit-animation: slide-down 0.5s ease-out;
    animation: slide-down 0.5s ease-out; }
  @-webkit-keyframes slide-down {
    from {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); } }
  @keyframes slide-down {
    from {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); } }
    .share-center aside.share {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      display: grid;
      position: static;
      grid-gap: 0.5em;
      grid-template-areas: " . btn . " "li1 . li2" ".  li3 ." "li4 . li5"; } }
    @media screen and (max-width: 599px) and (max-height: 200px) {
      .share-center aside.share {
        display: block; }
        .share-center aside.share ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .share-center aside.share ul li:not(:last-child) {
            margin-right: 1rem; }
        .share-center aside.share .close {
          position: absolute;
          top: -0.75rem;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }

@media screen and (max-width: 599px) {
      .share-center aside.share .title {
        opacity: 0;
        display: none;
        position: absolute;
        pointer-events: none; }
      .share-center aside.share li {
        opacity: 1;
        pointer-events: all;
        display: block; }
      .share-center aside.share .close {
        opacity: 1;
        display: block;
        pointer-events: al; }
      .share-center aside.share a {
        padding: 1.5rem; } }

.theme-btn-wrapper {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .theme-btn-wrapper:hover .theme {
    -webkit-transform: translateX(0) rotate(360deg);
    transform: translateX(0) rotate(360deg); }
  .theme-btn-wrapper .theme {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
    @media screen and (hover: hover) {
      .theme-btn-wrapper .theme {
        -webkit-transform: translateX(5rem);
        transform: translateX(5rem); } }
    .theme-btn-wrapper .theme::before {
      content: "\f186 ";
      font-size: 2em;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7);
      padding: 0.2em; }
    .theme-btn-wrapper .theme:hover::before {
      color: var(--blue); }
    body.dark .theme-btn-wrapper .theme::before {
      content: "\f185 ";
      color: #fff;
      background: none; }

.back-to-top {
  display: none;
  opacity: 0.7;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .back-to-top::before {
    content: "\f139";
    color: #444;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff; }
  .back-to-top:hover {
    opacity: 1;
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }

::-webkit-scrollbar {
  width: auto; }
  ::-webkit-scrollbar-track {
    border: 1px solid #333;
    border-radius: 10px;
    background: #fff; }
  ::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(#333), color-stop(var(--blue)), to(#333));
    background: linear-gradient(#333, var(--blue), #333);
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #333; }

.home {
  margin: 0 var(--main-ws) var(--main-ws); }

.slideshow-circles {
  grid-column: 1;
  align-self: end;
  opacity: 0;
  display: none;
  position: absolute; }
  @media screen and (max-width: 699px) {
    .slideshow-circles {
      margin-bottom: var(--main-ws); } }
  .slideshow-circles ul {
    list-style-type: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .slideshow-circles ul .circle {
      width: 1em;
      height: 1em;
      border: 1px solid #000;
      background: #000;
      border-radius: 50%;
      margin-right: 0.5em;
      margin-bottom: 1rem;
      cursor: pointer; }
      body.dark .slideshow-circles ul .circle {
        background: #ccc; }
      body .slideshow-circles ul .circle.active,
      body .slideshow-circles ul .circle:hover {
        background: var(--light-blue); }
      .slideshow-circles ul .circle:hover img {
        opacity: 1; }
      .slideshow-circles ul .circle img {
        opacity: 0;
        position: absolute;
        min-width: 100px;
        max-width: 150px;
        height: auto;
        pointer-events: none;
        -webkit-transform: translate(10%, -50%);
        transform: translate(10%, -50%);
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s; }

.slideshow {
  grid-row: 2 / -1;
  grid-column: 1; }
  .slideshow .animal-info {
    text-align: center; }
    .slideshow .animal-info:not(:last-of-type) {
      margin-bottom: var(--layout-ws); }
    .slideshow .animal-info img {
      max-width: 100%;
      max-height: 80vh;
      /* height: auto; */
      padding: 0.5rem;
      border: 2px solid #000;
      border-radius: 0.3rem;
      background: #fff;
      /* transition: transform 0.3s; */ }
    .slideshow .animal-info .title {
      font-size: 1.7em;
      font-weight: bold;
      font-style: italic;
      margin-top: 1rem; }
    .slideshow .animal-info .description {
      max-width: 60%;
      margin: 0 auto; }

aside.images {
  text-align: center;
  padding-top: var(--main-ws);
  border-top: 3px solid #000; }
  aside.images .img-container {
    display: block;
    max-width: 100%;
    max-height: 100%; }
    aside.images .img-container:not(:last-of-type) {
      margin-bottom: var(--main-ws); }
    aside.images .img-container img {
      max-width: 100%;
      max-height: 100%;
      opacity: 1;
      -webkit-transition: opacity 0.5s, -webkit-transform 0.3s ease-in-out;
      transition: opacity 0.5s, -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, opacity 0.5s;
      transition: transform 0.3s ease-in-out, opacity 0.5s, -webkit-transform 0.3s ease-in-out;
      border-radius: 0.5rem;
      background: #fff;
      pointer-events: none; }

@media screen and (min-width: 700px) {
  .home {
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: 7fr 2fr;
    grid-gap: var(--main-ws) var(--layout-ws);
    margin: 0 var(--layout-ws) var(--layout-ws); }
  .slideshow-circles {
    opacity: 1;
    display: block;
    position: static; }
  .animal-info:not([class*=visible]) {
    display: none;
    opacity: 0;
    position: absolute; }
  aside.images {
    grid-row: 1 / -1;
    grid-column: 2;
    display: contents; }
    aside.images .title {
      -ms-flex-item-align: end;
      align-self: end;
      padding-bottom: 0; }
    aside.images .img-container {
      -ms-flex-item-align: center;
      align-self: center;
      justify-self: center; }
      aside.images .img-container:not(:last-of-type) {
        margin-bottom: 0; }
      aside.images .img-container img {
        opacity: 0.7; }
      aside.images .img-container:hover img {
        padding: 0.5rem;
        border: 1px solid #000;
        border-radius: 0.3rem;
        -webkit-transform: scale(2.5) translateX(-100%) rotateX(360deg);
        transform: scale(2.5) translateX(-100%) rotateX(360deg);
        opacity: 1; } }

section.gallery {
  margin: 0 3rem 3rem; }
  @media screen and (max-width: 599px) {
    section.gallery .gallery-types {
      opacity: 0;
      display: none;
      position: absolute; } }
  section.gallery .gallery-types ul {
    list-style-type: none;
    margin-bottom: var(--main-ws); }
    section.gallery .gallery-types ul li {
      width: 2rem;
      height: 2rem;
      background: #333;
      cursor: pointer; }
      section.gallery .gallery-types ul li.active {
        pointer-events: none; }
      body.dark section.gallery .gallery-types ul li {
        background: #ccc; }
      body section.gallery .gallery-types ul li.active,
      body section.gallery .gallery-types ul li:hover {
        background: var(--blue); }
      section.gallery .gallery-types ul li:not(:last-child) {
        margin-right: 1rem; }
      section.gallery .gallery-types ul li.squares {
        border-radius: 0.3em; }
      section.gallery .gallery-types ul li.circles {
        border-radius: 50%; }
      section.gallery .gallery-types ul li.hexagons {
        -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); }
      section.gallery .gallery-types ul li.octogons {
        -webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
        clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%); }
  section.gallery ul.gallery {
    list-style: none outside;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--main-ws); }
    section.gallery ul.gallery li {
      width: 100%;
      padding-top: 100%;
      position: relative; }
    section.gallery ul.gallery .img-container {
      position: absolute;
      background: #ccc;
      border: 3px solid #000;
      border-radius: 0.3em;
      overflow: hidden; }
      section.gallery ul.gallery .img-container:hover {
        cursor: -webkit-zoom-in;
        cursor: zoom-in; }
        section.gallery ul.gallery .img-container:hover::after {
          opacity: 1; }
      section.gallery ul.gallery .img-container:after {
        position: absolute;
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      section.gallery ul.gallery .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: calc(100% - var(--main-ws));
        max-height: calc(100% - var(--main-ws));
        border-radius: 0.3em;
        -webkit-transition: -webkit-filter 0.3s;
        transition: -webkit-filter 0.3s;
        transition: filter 0.3s;
        transition: filter 0.3s, -webkit-filter 0.3s;
        pointer-events: none; }
    @media screen and (max-width: 599px) {
      section.gallery ul.gallery li:nth-child(1) {
        grid-column: span 2;
        padding-top: 68%; }
      section.gallery ul.gallery li:nth-child(4) {
        grid-row: span 2;
        padding-top: 257%; }
      section.gallery ul.gallery li:nth-child(9) {
        grid-column: span 2;
        padding-top: 68%; }
      section.gallery ul.gallery li:nth-child(10) {
        grid-column: span 2;
        padding-top: 71%; }
      section.gallery ul.gallery li:nth-child(11) {
        grid-column: span 2;
        padding-top: 113%; }
      section.gallery ul.gallery li:nth-child(12) {
        grid-column: span 2;
        padding-top: 69%; } }
    @media screen and (min-width: 600px) {
      section.gallery ul.gallery {
        grid-template-columns: repeat(3, 1fr); }
        section.gallery {
          margin: 0 5rem 5rem; }
        section.gallery ul.gallery.circles, section.gallery ul.gallery.hexagons, section.gallery ul.gallery.octogons {
          grid-gap: 0; }
        section.gallery ul.gallery.hexagons .img-container, section.gallery ul.gallery.octogons .img-container {
          border: none; }
        section.gallery ul.gallery.squares {
          grid-gap: var(--main-ws); }
          section.gallery ul.gallery.squares .img-container {
            border-radius: 0.3em; }
            section.gallery ul.gallery.squares .img-container:hover img {
              max-width: calc(100% - 1rem);
              max-height: calc(100% - 1rem); }
        section.gallery ul.gallery.circles .img-container {
          border-radius: 50%; }
        section.gallery ul.gallery.hexagons .img-container {
          -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); }
        section.gallery ul.gallery.octogons .img-container {
          -webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
          clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%); }
        section.gallery ul.gallery li {
          padding-top: 100% !important; }
        section.gallery ul.gallery li:last-child:nth-child(3n - 2) {
          grid-column: 2; }
        section.gallery ul.gallery li:last-child:nth-child(3n - 1) {
          grid-column: 3; }
        section.gallery ul.gallery .img-container:hover img {
          max-width: 77%;
          max-height: 77%; }
        section.gallery ul.gallery .img-container img {
          max-width: 75vmax;
          max-height: 75vmax; } }

.zoom-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: zoom-anim 1s;
  animation: zoom-anim 1s; }

@-webkit-keyframes zoom-anim {
  from {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%; }
  75% {
    top: 30%;
    height: 40%; } }

@keyframes zoom-anim {
  from {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%; }
  75% {
    top: 30%;
    height: 40%; } }
  .zoom-overlay img {
    max-width: 85%;
    max-height: 95%;
    width: auto;
    height: auto;
    margin: 0 auto; }
  .zoom-overlay button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 10vmin;
    cursor: pointer;
    color: #fff; }
    .zoom-overlay button.close {
      position: absolute;
      top: 3vmin;
      right: 3vmin; }
      .zoom-overlay button.close i {
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
      .zoom-overlay button.close:hover i {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
    .zoom-overlay button:not([class*=close]) {
      position: absolute; }
    .zoom-overlay button.prev, .zoom-overlay button.next {
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
    .zoom-overlay button.prev {
      left: 3%; }
      .zoom-overlay button.prev:hover {
        -webkit-transform: translateX(-0.3em);
        transform: translateX(-0.3em);
        padding: 0.2em; }
    .zoom-overlay button.next {
      right: 3%; }
      .zoom-overlay button.next:hover {
        -webkit-transform: translateX(0.3em);
        transform: translateX(0.3em);
        padding: 0.2em; }
  .zoom-overlay > span {
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 5vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    padding: 0.5em 0.7em;
    display: none; }
    .zoom-overlay > span .esc {
      border: 2px solid #eee;
      border-radius: 0.1em;
      padding: 0.2em;
      font-weight: bold; }

main > .contact-us {
  width: 80%;
  max-width: 40rem;
  margin: 0 auto; }
  main > .contact-us form {
    width: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 0.2rem;
    background: center center no-repeat;
    background-size: cover; }
    main > .contact-us form label[for=subject],
    main > .contact-us form label[for=message] {
      color: #fff; }
    @media screen and (min-width: 700px) {
      main > .contact-us form {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem; }
        main > .contact-us form label[for=first-name],
        main > .contact-us form .input-wrapper.fn,
        main > .contact-us form label[for=email],
        main > .contact-us form .input-wrapper.email {
          grid-column: 1 / 3; }
        main > .contact-us form label[for=last-name],
        main > .contact-us form .input-wrapper.ln,
        main > .contact-us form label[for=phone],
        main > .contact-us form .input-wrapper.phone {
          grid-column: 3 / -1; }
        main > .contact-us form label[for=last-name] {
          grid-row: 1; }
        main > .contact-us form .input-wrapper.ln {
          grid-row: 2; }
        main > .contact-us form label[for=email],
        main > .contact-us form label[for=phone] {
          grid-row: 3; }
        main > .contact-us form label[for=subject],
        main > .contact-us form .input-wrapper.subj,
        main > .contact-us form label[for=message],
        main > .contact-us form textarea {
          grid-column: 1 / -1; }
        main > .contact-us form input[type=submit] {
          grid-column: 2 / 4; } }
