<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body class="{{ page.body_class }} {{ page.title | slugify }}">
    {% include header.html %}
    
    <main>
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        {{ content }}
    </main>
    
    {% include share.html %}    

    {% include footer.html %}

    <div class="theme-btn-wrapper">
        <span class="fa theme"></span>
    </div>
    
    <span class="back-to-top fas" title="Back to top"></span>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/theme.js"></script>
    
    {% if page.url == "/" %}
        <script src="{{ site.baseurl }}/scripts/home.js"></script>
    {% endif %}
    
    <script src="{{ site.baseurl }}/scripts/site-footer.js"></script>
    <script src="{{ site.baseurl }}/scripts/share.js"></script>
    <script src="{{ site.baseurl }}/scripts/back-to-top.js"></script>

    {% if page.url == "/gallery.html" %}
        <script src="{{ site.baseurl }}/scripts/gallery-type.js"></script>
        <script src="{{ site.baseurl }}/scripts/gallery-img-zoom.js"></script>
    {% endif %}
</body>
</html>