@mixin hexagons {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@mixin octogons {
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

section.gallery {
    margin: 0 3rem 3rem;
    
    .gallery-types {
        @include mq-max-w(599px) {
            opacity: 0;
            display: none;
            position: absolute;
        }

        ul {
            list-style-type: none;
            margin-bottom: var(--main-ws);

            @extend %flex-centered;

            li {
                width: 2rem;
                height: 2rem;
                background: #333;
                cursor: pointer;

                &.active {
                    pointer-events: none;
                }

                &.active,
                &:hover {
                    background: var(--blue);
                }

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &.squares {
                    border-radius: 0.3em;
                }

                &.circles {
                    border-radius: 50%;
                }

                &.hexagons {
                    @include hexagons;
                }

                &.octogons {
                    @include octogons;
                }
            }
        }
    }

    ul.gallery {
        list-style: none outside;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--main-ws);        

        li {
            width: 100%;
            padding-top: 100%;
            position: relative;
        }

        .img-container {
            position: absolute;
            @extend %tlrb-zero;
            background: #ccc;
            border: 3px solid #000;
            border-radius: 0.3em;
            overflow: hidden;

            &:hover {
                cursor: zoom-in;

                &::after {
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                @extend %tlrb-zero;
                content: "";
                display: block;
                background: rgba(black, 0.15);
                box-shadow: 0 0 1rem 0 rgba(black, 0.5);
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: calc(100% - var(--main-ws));
                max-height: calc(100% - var(--main-ws));
                border-radius: 0.3em;
                transition: filter 0.3s;
                pointer-events: none;
            }
        }

        @include mq-max-w(599px) {
            li {
                &:nth-child(1) {
                    grid-column: span 2;
                    padding-top: 68%;
                }

                &:nth-child(4) {
                    grid-row: span 2;
                    padding-top: 257%;
                }

                &:nth-child(9) {
                    grid-column: span 2;
                    padding-top: 68%;
                }

                &:nth-child(10) {
                    grid-column: span 2;
                    padding-top: 71%;
                }

                &:nth-child(11) {
                    grid-column: span 2;
                    padding-top: 113%;
                }

                &:nth-child(12) {
                    grid-column: span 2;
                    padding-top: 69%;
                }
            }
        }

        @include mq-min-w(600px) {
            @at-root section.gallery {
                margin: 0 5rem 5rem;
            }

            grid-template-columns: repeat(3, 1fr);

            &.circles,
            &.hexagons,
            &.octogons {
                grid-gap: 0;
            }

            &.hexagons,
            &.octogons {
                .img-container {
                    border: none;
                }
            }

            &.squares {
                grid-gap: var(--main-ws);

                .img-container {
                    border-radius: 0.3em;

                    &:hover img {
                        max-width: calc(100% - 1rem);
                        max-height: calc(100% - 1rem);
                    }
                }
            }

            &.circles {
                .img-container {
                    border-radius: 50%;
                }
            }

            &.hexagons {
                .img-container {
                    @include hexagons;
                }
            }

            &.octogons {
                .img-container {
                    @include octogons;
                }
            }

            li {
                padding-top: 100% !important;
            }

            li:last-child {
                &:nth-child(3n - 2) {
                    grid-column: 2;
                }

                &:nth-child(3n - 1) {
                    grid-column: 3;
                }
            }

            .img-container {
                &:hover {
                    img {
                        max-width: 77%;
                        max-height: 77%;
                    }
                }

                img {
                    max-width: 75vmax;
                    max-height: 75vmax;
                }
            }        
        }
    }
}