section.gallery {
    margin: 0 3rem 3rem;
    
    ul.gallery {
        list-style: none outside;
        display: grid;
        grid-gap: var(--main-ws);

        @include mq-min-w(600px) {
            @at-root section.gallery {
                margin: 0 5rem 5rem;
            }

            grid-template-columns: repeat(3, 1fr);
        }

        li {
            width: 100%;
            padding-top: 100%;
            position: relative;
        }

        .img-container {
            position: absolute;
            @extend %tlrb-zero;
            border: 3px solid #000;
            border-radius: 50%;
            overflow: hidden;

            &:hover {
                cursor: zoom-in;

                &::after {
                    opacity: 1;
                }

                img {
                    max-width: 80%;
                    max-height: 80%;
                }
            }

            &:after {
                position: absolute;
                @extend %tlrb-zero;
                content: "";
                display: block;
                background: rgba(black, 0.15);
                box-shadow: 0 0 1rem 0 rgba(black, 0.5);
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 75vmax;
                transform: translate(-50%, -50%);
                border-radius: 0.1rem;
                transition: filter 0.3s;
                pointer-events: none;
            }
        }
    }
}

// &:nth-child(6n - 5),
            // &:nth-child(6n) {
            //     align-self: start;
            // }

            // &:nth-child(6n - 4),
            // &:nth-child(6n - 1) {
            //     align-self: center;                
            // }

            // &:nth-child(6n - 3),
            // &:nth-child(6n - 2) {
            //     align-self: end;                
            // }

            // &:nth-child(4) {
            //     grid-row: 3;
            // }

            // &:nth-child(8) {
            //     grid-row: 5;
            //     grid-column: 2;
            // }