.content {
    margin: 0 var(--main-ws) var(--main-ws);
}

.slideshow-circles {
    grid-column: 1;
    @extend %flex-centered;
    flex-wrap: wrap;

    @include mq-max-w(699px) {
        margin-bottom: var(--main-ws);
    }

    .circle {
        width: 1em;
        height: 1em;
        border: 1px solid #000;
        background: #000;
        border-radius: 50%;
        margin-right: 0.5em;
        margin-bottom: 1rem;
        cursor: pointer;

        &.active,
        &:hover {
            background: var(--light-blue);
        }

        &:hover img {
            opacity: 1;
        }

        img {
            opacity: 0;
            position: absolute;
            min-width: 100px;
            max-width: 150px;
            height: auto;
            pointer-events: none;
            transform: translate(10%, -50%);
            transition: opacity 0.25s;
        }
    }
}

.animal-info {
    grid-row: 2 / -1;
    grid-column: 1;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 80vh;
        /* height: auto; */
        padding: 0.5rem;
        border: 2px solid #000;
        border-radius: 0.3rem;
        background: #fff;
        /* transition: transform 0.3s; */
    }

    .title {
        font-size: 1.7em;
        font-weight: bold;
        font-style: italic;
        margin-top: 1rem;
    }

    .description {
        max-width: 60%;
        margin: 0 auto;
    }
}

aside.images {
    text-align: center;
    padding-top: var(--main-ws);
    border-top: 1px solid #000;

    .img-cnt {
        max-width: 100%;
        max-height: 100%;

        &:not(:last-of-type) {
            margin-bottom: var(--main-ws);
        }

        img {
            max-width: 100%;
            max-height: 100%;
            opacity: 1;
            transition: transform 0.3s ease-in-out, opacity 0.5s;
            border-radius: 0.5rem;
            background: #fff;
            pointer-events: none;
        }
    }
}

@include mq-min-w(700px) {
    .content {
        display: grid;
        grid-template-rows: repeat(8, 100px);
        grid-template-columns: 7fr 2fr;
        grid-gap: var(--main-ws) var(--layout-ws);
        margin: 0 var(--layout-ws) var(--layout-ws);
    }

    aside.images {
        grid-row: 1 / -1;
        grid-column: 2;
        display: contents;

        .title {
            align-self: end;
            padding-bottom: 0;
        }
        
        .img-cnt {
            align-self: center;
            justify-self: center;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }

            img {
                opacity: 0.7;
            }

            &:hover img {
                padding: 0.5rem;
                border: 1px solid #000;
                border-radius: 0.3rem;
                transform: scale(2.5) translateX(-100%) rotateX(360deg);
                opacity: 1;
            }
        }

    }
}