::-webkit-scrollbar {
    width: auto;

    $border-radius: 10px;

    &-track {
        border: 1px solid #333;
        border-radius: $border-radius;
        background: #fff;
    }

    &-thumb {
        background: linear-gradient(#333, var(--blue), #333); 
        border-radius: $border-radius;

        &:hover {
            background: #333; 
        }
    }
}  